

IF NOT EXISTS(SELECT * FROM master.sys.databases 
          WHERE name='EAPI')
BEGIN
    CREATE DATABASE EAPI
END

USE [EAPI]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDERS_EAPI_USERS]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_EAPI_USERS]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDERS_EAPI_ITEMS]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_EAPI_ITEMS]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2/14/2022 10:06:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USERS]') AND type in (N'U'))
DROP TABLE [dbo].[USERS]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 2/14/2022 10:06:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTS]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUCTS]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 2/14/2022 10:06:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORDERS]') AND type in (N'U'))
DROP TABLE [dbo].[ORDERS]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 2/14/2022 10:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORDERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ORDERS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_NUMBER] [int] NOT NULL,
	[USER_ID] [int] NULL,
	[P_ID] [int] NULL,
	[SHIPPING_ADDRESS] [varchar](500) NULL,
	[ORDER_DATE] [datetime] NULL,
	[QUANTITY] [int] NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[COST] [float] NOT NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 2/14/2022 10:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUCTS](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[PRICE] [float] NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2/14/2022 10:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](30) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[ADDRESS] [varchar](200) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDERS_EAPI_ITEMS]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_EAPI_ITEMS] FOREIGN KEY([P_ID])
REFERENCES [dbo].[PRODUCTS] ([P_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDERS_EAPI_ITEMS]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_EAPI_ITEMS]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDERS_EAPI_USERS]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_EAPI_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDERS_EAPI_USERS]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_EAPI_USERS]
GO
